:root {
  --primary-colour : #ffe6e6;
  --secondary-colour : #433d3c;
  --button: #a685e2;
}

body {
  font-family: 'Montserrat', sans-serif;
}

nav {
  background-color: var(--primary-colour);
  border: 2px var(--primary_colour);
  padding: 0rem 10rem;
  margin: auto;
}

.header-title {
  font-size: 50px;
  color: var(--secondary-colour);
  font-weight: bold;
  position: absolute;
  text-align: center;display:inline;   
  padding: 2rem 10rem;
}

.img {
  max-width: 150px;
  /* display: block; */
  vertical-align: left;
  margin: auto;
  padding: 1rem 2rem;
}

.city-name {
  font-size: 20px;
  color: var(--secondary-colour);
  font-weight: bold;
  position: absolute;
  text-align: center;display:inline;   
  margin: 3rem 20rem; 
}

textarea {
  font-size: 20px;
  border: 1px solid var(--secondary-colour);
  width: 20%;
  margin: 2rem 35rem;
  padding: 0.3rem 0.5rem;
}

.weather {
  font-size: 20px;
  color: var(--secondary-colour);
  font-weight: bold;
  position: absolute;
  text-align: center;display:inline;   
  margin: 4rem 20rem; 
}

#btn-translate {
  color: var(--secondary-colour);
  font-weight: bolder;
  font-size: x-large;
  background-color: #ffabe1;
  margin: 0rem 35rem;
  width: 15%;
  padding: 0.5rem;
  border-radius: 00.5rem;
}

#output {
  border: 1px solid black;
  height: 3vh;
  width: 20%;
  margin: 4rem 35rem;
  padding: 1rem;
}

a {
  text-decoration: none;
}

footer {
  position: fixed;
    bottom: 0;
    width: 100%;
    padding: 3rem;
    background-color: var(--primary-colour);
    text-align: center;
}

.footer-pills {
  padding: 0rem 1.5rem;
  color: #6155a6;
}