* {
  box-sizing: border-box;
}

:root {
  --primary-colour: #ffe6e6;
  --secondary-colour: #433d3c;
  --button: #a685e2;
  --width-break: 600px;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

nav {
  background-color: var(--primary-colour);
  text-align: center;
}

.header-title {
  font-size: 2rem;
  color: var(--secondary-colour);
  font-weight: bold;
  padding: 1.5rem;
}

.img {
  max-width: 150px;
  /* display: block; */
  vertical-align: left;
  margin: auto;
  padding: 1rem 2rem;
}

.main{
  margin: auto;
  padding: 1rem;
  max-width: var(--width-break);
  text-align: center;
}

.city-name {
  font-size: 20px;
  color: var(--secondary-colour);
  font-weight: bold;
}

textarea {
    box-sizing: border-box;
    /* display: block; */
    border-top-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    width: 50%;
    text-align: center;
    min-height: 0vh;
    margin: auto;
    margin-top: 1rem;
    font-size: x-large;
    padding: 0.3rem;
}

#output {
  border: 1px solid black;
  height: 6vh;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 50%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 4.5rem;
  font-size: large;
  padding: 0rem 1rem;
  padding-top: 0.6rem;
}


.weather {
  font-size: 20px;
  color: var(--secondary-colour);
  font-weight: bold;
  margin-top: 1rem;
}

#btn-data {
  color: var(--secondary-colour);
  font-weight: bolder;
  font-size: large;
  background-color: #ffabe1;
  margin: 2.5rem 0rem;
  padding: 0.5rem 1rem;
  border-radius: 00.5rem;
}

a {
  text-decoration: none;
}

footer {
  position: relative;
  /* bottom: 0; */
  
  width: 100%;
  padding: 3rem;
  background-color: var(--primary-colour);
  text-align: center;
}

.footer-pills {
  font-size: small;
  padding: 0rem 0.9rem;
  /* color: #6155a6; */
  color: #433d3c;
}